.chat-container {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background: #202c33;
  color: white;
  padding: 20px;
}

/* Chat box */
.chat-box {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* Messages */
.messages {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  background: #efeae2;
}

/* Single message */
.message {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* Input */
.input-box {
  display: flex;
  padding: 10px;
  background: #ddd;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.input-box button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
}
